<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body class="body">
    <nav>
        <ul>
            <li><a asp-controller="Blah" asp-action="Index">Home</a></li>
            <li><a asp-controller="Blah" asp-action="GradeCalc">Grade Calculator</a></li>
        </ul>
    </nav>

    <div class="jumbotron text-center" style="background-color:darkred;">
        <h1>@ViewData["HeroText"]</h1>
        <p>@ViewData["HeroSubText"]</p>
    </div>

    <div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquerymin.js"></script>
    <script src="~/js/index.js"></script>


</body>
</html>
