@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dan Bell Homepage";
    ViewData["HeroText"] = "Dan Homepage";
    ViewData["HeroSubText"] = "Hopefully I get an A!";
}
<!--author - Dan Bell-->
<!--This is the first webapp I've created in the .NET framework.
    it has some info about me and a basic grade calculator-->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>Expectations</h2>
            <p>
                In this class I'm really hoping to gain some more valued experience with programming
                and web development. I am excited to hear that C# is similar to Java because I know that
                both C# and Java are widely used in industry. I hope to attain a good grade (an A) and
                show that I am a capable student who belongs in the MISM program.
            </p>
        </div>

        <div class="col-sm-4">
            <img class="img-fluid" src="img/danGuitar.png" width="250" />
            <p>Dan playing at The Velour</p>
        </div>

        <div class="col-sm-4">
            <h2>Jobs of Interest</h2>
            <ul>
                <li>Database Manager</li>
                <li>Software Engineer</li>
                <li>Project Manager</li>
            </ul>
        </div>
    </div>
</div>
